[Unit]
Description=Software Updates Notifier

[Service]
User=root
WorkingDirectory=/root/.local/share/sun
ExecStart=/root/.local/share/sun/venv/bin/python3 sun.py
Restart=always

[Install]
WantedBy=multi-user.target