[Unit]
Description=Software Updates Notifier

[Service]
User=root
WorkingDirectory=USERHOME/.local/share/sun
ExecStart=USERHOME/.local/share/sun/venv/bin/python3 sun.py
Restart=always

[Install]
WantedBy=multi-user.target